.card_outer_container {
    background-color: white;
    padding: 10px;
    border-radius: 3rem;
    height: 600px;
    width: 400px;
    box-shadow: 0 10px 10px 2px rgb(87, 87, 86, 0.1);
}

.wishlist {
    background-color: white;
    border-radius: 100%;
    padding: 15px;
    cursor: pointer;
    width: fit-content;
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    background-color: transparent;
    align-self: flex-end;
    position: relative;
    right: 20px;
    top: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.card_container {
    background-image: url("../assets/new_york.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card_btm {
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 0 0 3rem 3rem;
    padding-bottom: 10px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
}

.card_content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 90%;
}

.card_flight_details {
    display: flex;
    align-items: center;
}

.destination {
    font-size: xx-large;
    font-weight: 700;
    color: white;
}

.flight_type {
    color: #a8adac;
    font-weight: 300;
}

.cta_button {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    border-radius: 50px;
    width: 100%;
    font-weight: 500;
    padding: 15px 30px;
    cursor: pointer;
}

.card_flight_details {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    color: white;
}